<div class="footer py-3 mt-3">
    <div class="container">
        <span class="text-muted">
           <p>Author: Inji Zakariyayeva<br>
           <a href="incizekeriyeyeva@gmail.com">incizekeriyeyeva@gmail.com</a></p>
        </span>
    </div>
</div>
<style>
    footer {
  text-align: left;
  padding: 3px;
  background-color: lightblue;
  color: white;
  height: 101px;
}</style>