<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movie App</title>
</head>
<body>

    <header>
     
         <partial name="_navbar" />
    </header>
    <main>
      <div class="container mt-4">
        @RenderBody()
      </div>
    </main>
    <footer>
         <partial name="_footer" />
    </footer>

</body>
</html>